*.iml
.idea
.DS_Store
.kotlin
.gradle

**/build/
**/release/
**/debug/
*.apk
*.aab

xcuserdata
local.properties

captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
