services:
  frontend:
    image: ghcr.io/${IMAGE_REPO}:${IMAGE_TAG:-latest}
    container_name: ptf_frontend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      # Domain
      - "traefik.http.routers.ptf-front.rule=Host(`patifiner.ru`)"
      - "traefik.http.routers.ptf-front.entrypoints=websecure"
      - "traefik.http.routers.ptf-front.tls.certresolver=myresolver"
      # Wasm
      - "traefik.http.routers.ptf-front.middlewares=wasm-headers"
      - "traefik.http.middlewares.wasm-headers.headers.customResponseHeaders.Cross-Origin-Embedder-Policy=require-corp"
      - "traefik.http.middlewares.wasm-headers.headers.customResponseHeaders.Cross-Origin-Opener-Policy=same-origin"
      # Nginx port
      - "traefik.http.services.ptf-front.loadbalancer.server.port=80"

    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true