name: Frontend Publish

on:
  push:
    branches: [ "main" ]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build Wasm
        run: |
          chmod +x gradlew
          ./gradlew :composeApp:wasmJsBrowserDistribution --no-daemon

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.UPLOAD_TOKEN }}

      - name: Build and Push Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Copy docker-compose via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yml"
          target: "/root/ptf-frontend"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -euo pipefail
            PROJECT_DIR="/root/ptf-frontend"
            cd "$PROJECT_DIR" || exit 1
            
            echo "Authorizing Docker on VDS..."
            echo "${{ secrets.UPLOAD_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
            
            echo "Creating .env file..."
            cat << 'EOF' > .env
            IMAGE_REPO=${{ github.repository }}
            IMAGE_TAG=${{ github.sha }}
            DASHBOARD_ROOT_PWD=${{ secrets.DASHBOARD_ROOT_PWD_ESCAPED }}
            EOF
            
            echo "Pulling and starting containers..."
            docker compose --env-file .env pull
            docker compose --env-file .env up -d

            echo "Cleaning up..."
            docker image prune -f
            echo "Deployment of Frontend finished successfully."